/* Responsive styles for social sharing buttons */
.social-share-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.social-share-button {
  display: flex;
  align-items: center;
  margin-right: 5px;
  border-radius: 4px;
  padding: 8px 12px;
  text-decoration: none;
  color: #fff;
  background-color: #3b5998;
}

.social-share-button:hover {
  filter: brightness(120%);
}

.social-share-buttons .social-share-text {
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 576px) {
  .social-share-button {
    padding: 8px;
  }

  .social-share-buttons .social-share-text {
    margin-right: 0px;
    margin-left: 0px;
    display: none;
  }
}
