.social-share-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.social-share-button {
  display: flex;
  align-items: center;
  margin-right: 5px;
  border-radius: 4px;
  padding: 8px 12px;
  text-decoration: none !important;
  color: #fff;
  transition: filter 0.3s ease;
}

.social-share-button:hover {
  filter: brightness(110%);
}

.social-share-buttons .social-share-text {
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 576px) {
  .social-share-button {
    padding: 8px;
  }

  .social-share-buttons .social-share-text {
    margin-right: 0px;
    margin-left: 0px;
    display: none;
  }
}

.share-facebook {
  background-color: #3b5998;
}

.share-twitter {
  background-color: #1da1f2;
}

.share-linkedin {
  background-color: #0077b5;
}

.share-pinterest {
  background-color: #bd081c;
}

.share-reddit {
  background-color: #ff4500;
}

.share-telegram {
  background-color: #0088cc;
}

.share-gab {
  background-color: #21cf7a;
}

.share-gettr {
  background-color: #FC223B;
}

.share-truthsocial {
  background-color: #1f1657;
}

.share-email {
  background-color: #888888;
}
